/* Style for the header section */
.header-section {
    background-color: #022d5b;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

/* Style for the title in the header section */
.header-title {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    padding: 10px;
}

/* Style for the subtitle in the header section */
.header-subtitle {
    font-size: 2rem;
    margin: 0;
}

/* Style for game cards */
.card-game {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 40px auto 10px;
    box-shadow: 2px 1px 10px 1px rgba(0, 0, 0, 0.75);
    color: rgb(0, 48, 90);
    font-size: 16px;
    text-align: center;
    font-family: Arial;
    width: 800px;
    height: 500px;
}

/* Style for the game images */
.card-game-img {
    border-radius: 10px 10px 0 0;
    max-height: 400px;
}

/* Style for the game titles */
.card-game-title {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: rgb(0, 48, 90);
}

/* Style for game prices */
.card-game-price {
    font-size: 18px;
    color: #007bff;
}

/* Style for game discounts */
.card-game-discount {
    font-size: 16px;
    color: #dc3545;
}

/* Style for team member cards */
.team-member-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 5px 10px 30px 20px rgba(0, 0, 0, 0.75);
    color: rgb(0, 48, 90);
    font-size: 16px;
    text-align: center;
    font-family: Arial;
    height: 450px;
}

/* Style for team member images */
.team-member-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 30px auto 15px;
}

/* Style for team member names */
.team-member-name {
    font-size: 24px;
    margin: 10px;
    font-family: Arial;
}

/* Style for team member information */
.team-member-info {
    font-size: 16px;
    margin: 5px 0;
}

/* Style for social media images */
.social-img {
    width: 75px;
    height: 75px;
    margin: 20px;
}

/* About us section */
.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #ffffff;
    font-style: bold;
    background-color: #022040;
    border-radius: 10px;
    width: 100%;
    height: 100px;
}

/* Animation */
.text-center:hover {
    background-color: #FF5733; /* Cambia el color a tu preferencia */
}

.social-img {
    width: 75px;
    height: 75px;
    margin: 20px;
    transition: transform 0.3s;
}

.social-img:hover {
    transform: scale(1.3);
}

.social-img {
    width: 75px;
    height: 75px;
    margin: 20px;
    transition: color 0.3s;
}

/* Animationd card games */
.card-game {
    transition: transform 0.3s;
}

.card-game:hover {
    transform: scale(1.05);
    background-color: #022040;
}

/* Animationd member card*/
.team-member-card {
    /* Otros estilos aquí */
    transition: background-color 0.3s;
    transition: color 0.3s;
}

.team-member-card:hover {
    background-color: #560000;
    color: #ffffff;
}

